<div class="flex w-full rounded bg-steel-700 rounded-2" [routerLink]="['/', 'character', character.id]">
  <img class="w-50 h-50 object-cover" [src]="character.image" [alt]="character.name">
  <div class="flex flex-col px-3 py-2">
    <p class="text-3xl text-steel-100 font-bold">{{character.name}}</p>
    <div class="flex items-center">
      <span class="py-1 h-1 w-1 mr-2 rounded-full"
        [ngClass]="{
          'bg-green-500': character.status === 'Alive',
          'bg-steel-200': character.status === 'unknown',
          'bg-chestnut-600': character.status === 'Dead'
        }"
      ></span>
      <p class="text-xl text-steel-100 font-bold">{{character.status}} | {{character.species}}</p>
    </div>
  </div>
</div>
